<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      rel="stylesheet"
      />
      <link href="style.css" rel="stylesheet"/>
      <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <title>Tv-tablå Labb</title>
  </head>
  <body>
  <div id="app">
  <!-- Menu-->
       <div class="menu-icon" @click="toggleMenu()">
          <i :class="menuOpen ? 'fas fa-times' : 'fas fa-bars'"></i>
        </div>
        <ul class="menu" :class="{ 'menu--show': menuOpen }">
          <li v-for="channel in channels" :key="channel" @click="setChannel(channel)">{{ channel }}</li>
        </ul>

  <!-- Page content -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-2">
      <!-- I DENNA H1 SKA VALD TV-KANALS NAMN SKRIVAS UT -->
      <h1>{{ currentChannel }}</h1>
      <div id="js-schedule">
        <ul class="list-group list-group-flush">
          <li v-if="pastPrograms.length" class="list-group-item show-previous">
            <button class="btn btn-link" @click="showPrevious = !showPrevious">{{ showPrevious ? 'Dölj tidigare' : 'Visa tidigare program' }}</button>
          </li>
          <li v-for="p in displayedPrograms" :key="p.start + p.name" class="list-group-item">
            <strong>{{ formatTime(p.start) }}</strong>
            <div>{{ p.name }}</div>
            <div>{{ p.description }}</div>
          </li>
        </ul>
      </div>
      <!-- DENNA VISAS BARA NÄR INGEN DATA LADDATS-->
      <img src="loading.gif" id="js-loading" class="loading-spinner" :class="{ hidden: !loading }" alt="Page loader"/>
     </div>
    </div>
  </div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="script.js"></script>
  </body>
</html>
